*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.accordion-button::after{
  background-image: url('Asset/plus.png');
  border: none;
}
.accordion-button:not(.collapsed)::after{
  background-image: url('Asset/minus.png');
}

li {
  list-style: none;
}
.gap {
  gap: 30px;
}
.intro {
  line-height: 1.4em;
  font-weight: 500;
  margin-left: 100px;
}
.introBtn {
  margin-left: 100px;
}
.boldText {
  font-size: 3em;
  font-weight: 700;
}
.pText {
  font-size: 0.9em;
  line-height: 1.6em;
}
input {
  outline: none;
  border: 1px solid black;
  width: 50%;
}
input:focus {
  outline: none;
}
.backUp {
  display: flex;
  align-items: right;
  justify-content: right;
  border-bottom: 1px solid white;
}

textarea:focus {
  outline: none;
}
.conBg {
  background-image: url("Asset/soundhouse_02.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.conInfo {
  width: 400px;
  position: relative;
  left: -40px;
  top: 100px;
}
@media (max-width: 430px) {
  .introBtn {
    margin-left: 0px;
  }
  .intro {
    margin-left: 0px;
  }
  .boldText {
    font-size: 1.8em;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  .decaShape{
    margin-bottom: 12px;
  }
  .conSe{
    margin-top: 70px;
  }
}
